.about {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    ul {
        padding: 1.5rem;
        list-style: "\1F914" inside;
    }
}