.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;

    input,button{
        font-size: 2rem;
        padding: .25rem;
        border: 3px solid #330c46;
    }
    button{
        background-color: #279599;
        color: white;
    }
}